@media (max-width: 900px) {
  .feat__section {
    flex-direction: column;
  }
  .feat__section {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .feat__right {
    gap: 10px;
  }
  .feat__title {
    font-size: 30px;
  }
  .feat__desc {
    font-size: 14px;
  }
  .feat__ul {
    gap: 10px;
  }
}
