@media (max-width: 940px) {
  .header__buttons {
    display: none;
  }
  .header__burger-btn {
    display: block;
  }
  .header__nav {
    margin-left: auto;
    margin-right: 50px;
  }
  .header__ul {
    gap: 25px;
  }
  .header__buttons-burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .header {
    margin-bottom: 30px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-burger {
    display: block;
    margin-bottom: 20px;
  }
  .header__ul-burger {
    flex-direction: column;
  }
}
