@media (max-width: 900px) {
  .plan__plans {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .plan__plans {
    grid-template-columns: 1fr;
  }
  .plan__desc {
    margin-bottom: 30px;
  }
  .feat__section {
    margin-bottom: 40px;
  }
  .plan__heading {
    font-size: 30px;
  }

  .section__plan {
    margin-bottom: 80px;
  }
}
