@media (max-width: 800px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: -400px;
  }

  .section__swiper {
    margin-bottom: 300px;
  }
}

@media (max-width: 530px) {
  .swiper__heading {
    font-size: 30px;
  }
  .subscribe__title {
    font-size: 30px;
  }
  .subscribe {
    bottom: -500px;
  }

  .section__swiper {
    margin-bottom: 400px;
  }
}
@media (max-width: 430px) {
  .swiper-wrapper {
    width: 1000px;
  }
  .swiper {
    width: 1000px;
  }
  .swiper-slide {
    max-width: 300px;
  }
}
